<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "landingPage.css" rel = "stylesheet">
    <title>Kabir's Webpage</title>
    <link rel="icon" href= "resources/paifang2.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="backgroundContainer">
        <img id="background" src="member/le sserafim logo.jpeg" alt="Background Image">
    </div>
    

        <audio id = "backgroundMusic" class = "bgm" src = "member/LE SSERAFIM FEARLESS OFFICIAL MV.mp3" loop></audio>
    </div>

    <div class = "headerBar">
        <div class = "leftBarContainer">
            <a class = "logoContainer" href = ".">
                <div class = "logoImageContainer">
                    <img class = "logoImage" src = "resources/Metal Poster Attack On Titan Scouting L.jpeg">
                </div>
                <div class = "logoHakurei">
                    Fearless
                </div>
            </a>
            <img id = "audioController" src = "resources/audioControllerOn.png" onclick = "audioController(); imageChange();">
        </div>
        
        <div class = "rightBarContainer">
            <div class = "rightBarStuff">
                <a class = "about hamburgerStuff" href = "#">About</a>
                <img class = "separator hamburgerStuff" src = "resources/glowySquare.png">
                <a class = "characters hamburgerStuff" href = "#">Characters</a>
                <img class = "separator hamburgerStuff" src = "resources/glowySquare.png">
                <a class = "music hamburgerStuff" href = "#">FAQ</a>
                <img class = "separator hamburgerStuff" src = "resources/glowySquare.png">
                <a class = "contact hamburgerStuff" href = "#">Contact</a>
            </div>
            <div class = "menuHamburger"><div class = "menuHamburgerBtn"></div></div>
        </div>
    </div>

    <div class = "layer1">
      
        <div class = "layer1Container">
            <div class = "layer1Left">
                <div class = "greetings">
                     LE SSERAFIM
                </div>
                <div class = "description">
                    LE SSERAFIM (Hangul: 르세라핌; Katakana: ルセラフィム) is a South Korean-Japanese girl group under Source Music that consists of five members: Sakura, Kim Chaewon, Huh Yunjin, Kazuha, and Hong Eunchae. Originally as six, the group debuted on May 2, 2022 with their first mini album FEARLESS.
                </div>
                <div class = "donateNowContainer">
                    <a class = "donateNow" href = "https://youtu.be/pXhjs-35jSI?si=F2J1uFm037y6Q9U-">Join Now!</a>
                </div>
            </div>
            <div class = "layer1Right">
                <img class = "layer1Image" src = "ok/download (22).jpeg">
                
            </div>
        </div>
    </div>

    <div class = "layer2">
        <div class = "layer2Bg">
            <div class = "layer2Content">
                <div class = "layer2Heading">
                    Why not stan LESEERAFIM? We've got...
                </div>
                <div class = "layer2InfoContainer">
                    <div class = "gameContainer">
                        <a class = "linkI" href = "https://le-sserafim.fandom.com/wiki/Kim_Chaewon"><img class = "gameImage" src = "member/Get the We Heart It app!.jpeg"></a>
                        <div class = "gameSubtext">Kim Chaewon</div>
                    </div>
                    <div class = "fanartContainer">
                        <a class = "linkI" href = "https://le-sserafim.fandom.com/wiki/Huh_Yunjin"><img class = "fanartImage" src ="member/download (24).jpeg"></a>
                        <div class = "fanartSubtext">Huh Yunjin</div>
                    </div>
                    <div class = "fanartContainer">
                        <a class = "linkI" href = "https://le-sserafim.fandom.com/wiki/Hong_Eunchae"><img class = "fanartImage" src ="member/Eunchae.jpeg"></a>
                        <div class = "fanartSubtext">Hong Eunchae</div>
                    </div>
                    <div class = "heyMisterContainer">
                        <a class = "linkI" href = "https://le-sserafim.fandom.com/wiki/Sakura"><img class = "heyMisterImage" src = "member/le sserafim pics on Twitter.jpeg"></a>
                        <div class = "heyMisterSubtext">Sakura Miyawaki</div>
                    </div>
                    <div class = "fumoContainer">
                        <a class = "linkI" href = "https://kpop.fandom.com/wiki/Kazuha"><img class = "fumoImage" src = "member/kazuha zuha le sserafim lesserafim magazine photoshoot.jpeg"></a>
                        <div class = "fumoSubtext">Kazuha</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class = "layer3">
        <div class = "layer3Text">
            <div class = "layer3Quote">
                To be continued...
            </div>
            <div class = "layer3QuoteFrom">
                # Antifragile
            </div>
        </div>
    </div>

   
    <div class = "footerLayer">
        <div class = "footerLayerBg">
            <a class = "footerLayerAuthor" href = "https://github.com/LeviAcker25" target = "_blank">
                Webpage by: Kabir
            </a>
        </div>
    </div>

</body>

<script src = "landingPage.js"></script>
</html>