<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="index.css">

    <link href="landingPage.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>LE SSERAFIM</title>
    <style>
        body {
            background-color: black;
        }

        .modal-content {
            background-color: black !important;
        }

        body,
        body * {
            color: white;
        }



        /* CSS */
        .button-91 {
            color: #fff;
            padding: 10px 20px;
            /* Adjusted padding */
            background-color: white;
            background-image: linear-gradient(rgb(98, 148, 255), rgb(2 173 164 / 73%));
            box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
            border-radius: 20px;
            /* Adjusted border-radius */
            font-weight: bold;
            font-size: 14px;
            /* Adjusted font size */

            border: 0;

            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;

            cursor: pointer;
        }

        .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid rgb(75, 75, 116);

        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
        }
        
        .table th{
            background-color:white;
             background-image: linear-gradient(rgb(98, 148, 255), rgb(2 173 164 / 73%));
        }

        .table th,
        .table td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: middle;
            border-top: 1px solid rgb(75, 75, 116);
            
            

        }

        /* Adjust the width of columns */

        .table th:nth-child(2),
        .table td:nth-child(2),
        .table th:nth-child(3),
        .table td:nth-child(3) {
            width: 30%;
            /* Adjust based on your needs */
        }

        /* Styling for album and track details */
        .album-details p {
            margin-bottom: 5px;
            /* Adjust spacing between track details */
        }

        .table th:nth-child(3) {
            text-align: center;
        }

        /* Targeting the cells in the Track column */
    </style>

</head>

<body>



    <div>

        <audio id="backgroundMusic" class="bgm" src="member/LE SSERAFIM FEARLESS OFFICIAL MV.mp3" loop></audio>
    </div>

    <div class="headerBar">
        <div class="leftBarContainer">
            <a class="logoContainer" href=".">
                <div class="logoImageContainer">
                    <img class="logoImage" src="resources/Metal Poster Attack On Titan Scouting L.jpeg">
                </div>
                <div class="logoHakurei">
                    Fearless
                </div>
            </a>
            <img id="audioController" src="resources/audioControllerOn.png" onclick="audioController(); imageChange();">
        </div>


        <div class="rightBarStuff">
            <a class="about hamburgerStuff" href="/">Home</a>
            <img class="separator hamburgerStuff" src="resources/glowySquare.png">
            <a class="characters hamburgerStuff" href="/characters">Characters</a>
            <img class="separator hamburgerStuff" src="resources/glowySquare.png">
            <a class="music hamburgerStuff" href="/faq">FAQ</a>
            <img class="separator hamburgerStuff" src="resources/glowySquare.png">
            <a class="contact hamburgerStuff" href="/contact">Contact</a>
        </div>

    </div>

    <div class="container">

        <section class="layer1">


            <div class="text-center">
                <p class="fs-1 fw-bold my-5" style="color:#e1f1ff">DEBUT</p>
            </div>


            <p class="fw-medium fs-5">LE SSERAFIM is a girl group with SOURCE MUSIC, a label under HYBE, consisting of
                five members of different nationalities:
                SAKURA, KIM CHAEWON, HUH YUNJIN, KAZUHA and HONG EUNCHAE. The first girl group to launch through a
                collaboration between
                HYBE and SOURCE MUSIC, they are taking a daring stance and saying right from the outset that they will
                stand at the very top.
                The group’s name, LE SSERAFIM, is an anagram of the words “I’M FEARLESS.” The name captures the group’s
                self-confidence and
                iron will as they go out into the world fearlessly and unwavering before the watchful eyes of the world.
                It is like an incantation
                to guarantee their success on the merit of their unbreakable poise and strength.</p>
        </section>

        <section class="text-center">
            <div class="row g-5 my-5">
                <div class="col">
                    <a href="/chaewon"  rel="noopener noreferrer"><img class=" mb-5 rounded zoom"
                            height="auto" width="100%"
                            src="https://sourcemusic.com/resources/main/a9fcd379-1b81-4a75-8421-919f841c2f1c.jpg"
                            alt="Chaewon profile"></a>
                </div>
                <div class="col">
                    <a href="/sakura"  rel="noopener noreferrer"><img class=" mb-5 rounded zoom"
                            height="auto" width="100%"
                            src="https://sourcemusic.com/resources/main/27202a90-bc96-4ddb-b6bd-5ccf37438acd.jpg"
                            alt="Sakura profile"></a>
                </div>
                <div class="col">
                    <a href="/yunjin"  rel="noopener noreferrer"><img class=" mb-5 rounded zoom"
                            height="auto" width="100%"
                            src="https://sourcemusic.com/resources/main/c4ef24c4-c86c-4cb5-b18b-722c9f49d77b.jpg"
                            alt="Yunjin profile"></a>
                </div>
                <div class="col">
                    <a href="/kazuha"  rel="noopener noreferrer"><img class=" mb-5 rounded zoom"
                            height="auto" width="100%"
                            src="https://sourcemusic.com/resources/main/f5dd22ce-1b78-4772-a535-b7ac3e7fd9e8.jpg"
                            alt="Kazuha profile"></a>
                </div>
                <div class="col">
                    <a href="/eunchae"  rel="noopener noreferrer"><img class=" mb-5 rounded zoom"
                            height="auto" width="100%"
                            src="https://sourcemusic.com/resources/main/2244c77c-f16d-4d6c-a632-2882984edd0a.jpg"
                            alt="Eunchae profile"></a>
                </div>
            </div>
        </section>

        <section>
            <h1 class="text-center display-1 fw-bolder my-5" style="color:#e1f1ff">Manchae-Station</h1>
            <table class="table table-responsive table-borderless">
                <thead class="fs-4">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Album Name</th>
                        <th scope="col">Track</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="fs-5">
                    <tr>
                        <td>
                            <img class="zoom" width="auto" height="200"
                                src="https://sourcemusic.com/resources/discography/c82a4114-7be3-44cd-bb3f-fcec274c018c.png"
                                alt="">
                        </td>
                        <td>FEARLESS</td>
                        <td>
                            <div class="d-block gx-5">
                                <p><span class="p-4">01</span>The World Is My Oyster</p>
                                <p><span class="p-4">02</span>FEARLESS</p>
                                <p><span class="p-4">03</span>Blue Flame</p>
                                <p><span class="p-4">04</span>The Great Mermaid</p>
                                <p><span class="p-4">05</span>Sour Grapes</p>
                            </div>
                        </td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="button-91" data-bs-toggle="modal" data-bs-target="#fearless">
                                View Details <i class=" ps-2 bi bi-arrows-fullscreen"></i>
                            </button>

                            <!-- Modal -->
                            <div class=" modal fade" id="fearless" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-scrollable-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-center d-block mx-auto"
                                                id="exampleModalLabel">1st Mini Album <br><span
                                                    class="fs-1 fw-bolder">FEARLESS</span></h1>
                                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                        </div>
                                        <div class="modal-body fs-6 text-center">
                                            <p>
                                                FEARLESS, the debut album from LE SSERAFIM, the group courageously
                                                singing out to the world
                                                Join a group of girls following their hearts as they set out on a
                                                journey never undertaken by anyone before</p>


                                            <h1 class="mt-5">VIDEO</h1>
                                            <p class="">LE SSERAFIM 'FEARLESS' OFFICIAL M/V</p>
                                            <div class="modal-video">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item"
                                                        src="https://www.youtube.com/embed/4vbDFu0PUew"
                                                        title="LE SSERAFIM FEARLESS OFFICIAL M/V" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                        allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="zoom" width="auto" height="200"
                                src="https://sourcemusic.com/resources/discography/cfae49df-6597-465f-b21f-7b7597560ed1.png"
                                alt="">
                        </td>
                        <td>ANTIFRAGILE</td>
                        <td>
                            <p><span class="p-4">01</span>The World Is My Oyster</p>
                            <p><span class="p-4">02</span>FEARLESS</p>
                            <p><span class="p-4">03</span>Blue Flame</p>
                            <p><span class="p-4">04</span>The Great Mermaid</p>
                            <p><span class="p-4">05</span>Sour Grapes</p>
                        </td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="button-91" data-bs-toggle="modal"
                                data-bs-target="#antifragile">
                                View Details <i class=" ps-2 bi bi-arrows-fullscreen"></i>
                            </button>

                            <!-- Modal -->
                            <div class=" modal fade" id="antifragile" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-scrollable-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-center d-block mx-auto"
                                                id="exampleModalLabel">2nd Mini Album <br><span
                                                    class="fs-1 fw-bolder">ANTIFRAGILE</span></h1>
                                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                        </div>

                                        <div class="modal-body fs-6 text-center">
                                            The group’s new album opens with their infallibility guarantee, “The Hydra,”
                                            followed by the title track, “ANTIFRAGILE,” that reveals the kind of
                                            strength
                                            of character that lets them repurpose hardship as an impetus for growth.
                                            Midway through the mini album.

                                            <h1 class="mt-5">VIDEO</h1>
                                            <p class="">ANTIFRAGILE' OFFICIAL M/V</p>
                                            <div class="modal-video">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item"
                                                        src="https://www.youtube.com/embed/pyf8cbqyfPs?si=6G5lNT1JWKwLrseD"
                                                        title="ANTIFRAGILE' OFFICIAL M/V" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                        allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img class="zoom" width="auto" height="200"
                                src="https://sourcemusic.com/resources/discography/163b19aa-70cd-4850-a7e6-2767813e47cf.jpg"
                                alt="">
                        </td>
                        <td class="">UNFORGIVEN</td>
                        <td>
                            <p><span class="p-4">01</span>The World Is My Oyster</p>
                            <p><span class="p-4">02</span>FEARLESS</p>
                            <p><span class="p-4">03</span>Blue Flame</p>
                            <p><span class="p-4">04</span>The Great Mermaid</p>
                            <p><span class="p-4">05</span>Sour Grapes</p>
                        </td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class=" button-91" data-bs-toggle="modal"
                                data-bs-target="#unforgiven">
                                View Details <i class=" ps-2 bi bi-arrows-fullscreen"></i>
                            </button>

                            <!-- Modal -->
                            <div class=" modal fade" id="unforgiven" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-scrollable-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-center d-block mx-auto"
                                                id="exampleModalLabel">1st Studio Album <br><span
                                                    class="fs-1 fw-bolder">UNFORGIVEN</span></h1>
                                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                        </div>
                                        <div class="modal-body fs-6 text-center">
                                            <p>
                                                LE SSERAFIM releases their first studio album entitled UNFORGIVEN,
                                                boldly paving their own path!
                                                LE SSERAFIM’s first studio album one year into their debut,
                                                collaborating with a world-class musician!
                                                “We don’t care what other people think.” Lead single “UNFORGIVEN (feat.
                                                Nile Rodgers)” </p>

                                            <h1 class="mt-5">VIDEO</h1>
                                            <p class="">LE SSERAFIM (르세라핌) 'UNFORGIVEN (feat. Nile Rodgers) OFFICIAL M/V
                                            </p>
                                            <div class="modal-video">
                                                <div class="embed-responsive embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item"
                                                        src="https://www.youtube.com/embed/qORaYudQ7Zc" <!-- Use the
                                                        embed URL -->
                                                        title="LE SSERAFIM (르세라핌) 'UNFORGIVEN (feat. Nile Rodgers)'
                                                        OFFICIAL M/V (Choreography ver.)"
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write;
                                                        encrypted-media; gyroscope; picture-in-picture; web-share"
                                                        allowfullscreen>
                                                    </iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>


    <script src="landingPage.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>